*{
    padding: 0px;
    margin: 0px;
}
.header{
    margin-bottom: 100px;
}
.btn1{
    color: aliceblue;
    background-color: rgb(236, 78, 105);
    padding: 10px;
    width: 110px;
    border: none;
    height: 40px;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn1:hover{
 color: rgb(46, 141, 3background-6);
 color: black;
 
}
.icon{
    width: 370px;
    height: 500px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(254, 240, 240);
    background-position: center;
}
.habit1{
    color: rgb(123, 123, 123);
    line-height: 1.5;
    
}
.habit2{
    color: rgb(123, 123, 123);
    line-height: 1.5;
    font-family: serif;
}
.habit3{
    color: rgb(123, 123, 123);
    line-height: 1.5;  
    font-family: serif; 
}
.bold{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 51px;
}

.snd{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    line-height: 60px;
    padding-left: 2%;

}
.sndo{
    color: rgb(141, 151, 151);
}
.homo{
    line-height: 90px;
}
.btn{
    color: aliceblue;
    background-color: rgb(239, 69, 101);
    padding: 10px;
    width: 110px;
    border: none;
    height: 40px;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
.btn:hover{
 background-color: pink;
 color: black;
}
.iconsnd{
    height: 230px;
    width: 180px;
    align-items: center;
    justify-content: space-around;
    padding-left: 200px;
}
.cheak{
    display:flex;
    align-items: center;
    background-color: rgb(254, 240, 240)  ;

}
.cheaking{
    padding-left: 160px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.for{
    padding-left: 28%;
}
.color{
    color:  rgb(250, 83, 114) ;
}
.iconone{
height: 200px;
width: 210px;
margin-left: 150px;
}
.icontwo{
    height: 200px;
    width: 210px;
  
}
.iconth{
   
    height: 200px;
    width: 210px;
}
.iconft{
    margin-right: 150px;
    height: 200px;
    width: 210px;

}
.see{
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 150px;
    
}
.two{
    align-items: center;
    justify-content: center;
    background-image: url(https://github.com/ProgrammingHero1/flower-shop-assignment/blob/main/Flower%20Asset/Rectangle%209.png?raw=true);
    margin-left: 160px;
    height: 300px;
    width: 875px;
    background-blend-mode: overlay;
    background-size: cover;
}
.twoft{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    font-family: sans-serif;
    font-size: 30px;
}
.twost{
    text-align: center;
    padding-top: 1%;
    color: rgb(145, 145, 145);

}
.twodt{
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-left: 25%;
    
}
.foet{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.cheao{
    border: none;
    width: 350px;
    height: 35px;
}
.twoset{
    background-color: rgb(234, 64, 92);
    width: 120px;
    height: 35px;
    border: none;
    font-size: 12px;
}
.twoset:hover{
background-color: pink;
 color: black;
}
.worth{
    display: flex;
}
.cheakfor{
 padding-left: 1%;
 padding-top: 2%;
}
.clr{
    color: rgb(225, 55, 84);
    font-family: sans-serif;
}
.box{
    display: flex;
     margin-bottom: 10%;
}
.box1{
    border-style: groove;
    border-radius: 100px 100px 15px 15px;
    padding: 3%;
    margin-left: 15%;
    margin-top: 6%;
    background-color: rgb(250, 214, 220);
    border: none;
    
}

.box2{
        border-style: groove;
        border-radius: 100px 100px 15px 15px; 
        padding: 2%;
        margin-top: 5%;
        margin-left: 5%;
        background-color: rgb(184, 223, 223);
        border: none;
        
    }

.box3{
    border-style: groove;
    border-radius: 100px 100px 15px 15px;
    padding-left: 5%;
    padding-right: 3%;
    margin-right: 10%;
    margin-top: 5%;
    margin-left: 5%;
    background-color: rgb(121, 161, 146);
    border: none;
}
.t-font{
    font-family: sans-serif;
    line-height: 230%;
}
.t2-font{
    color: rgb(140, 143, 143);
}
.show{
    display: flex;
    text-align: center;
    border-style: solid;
    justify-content: space-around;
    border-radius: 5px;
    line-height: 200%;
    height: 150px;
    width:1000px;
    margin-right: 20%;
    margin-left: 10%;
    margin-bottom: 10%;
    padding-top: 3%; 
    border: none;
    background-color: rgb(203, 203, 214);
}

